/* body {
    background-image: url("img/971.jpg");
    background-size: cover;
    background-repeat: no-repeat;
} */

.navbar-div {
    background-color: #241d47;
    background-image: linear-gradient(#241d47, #16122c);
}

#navbar-titulo {
    font-family: "Lucida Console", "Courier New", monospace;
}

#navbar-foto {
    height: 100px;
}

.navbar-link:hover {
    color: yellow !important;
}

.banner {
    background-image: url("img/banner4.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-position-x: 50%;
}

#banner-texto {
    padding-top: 24%;
    padding-left: 10%;
}

.typeText::after {
    content: "|";
    /* animation: blink 1s step-end infinite; */
    animation: none;
}

.showAnim.typeText::after {
    animation: blink 1s step-end infinite;
}

.titulo {
    position: relative;
}

/*.titulo:before {
    content: '';
    width: 100%;
    height: 1px;
    background-color: gray;
    position: absolute;
    bottom: 0;
    left: 0;
}*/

.titulo:after {
    content: '';
    height: 4px;
    left: 0;
    bottom: -1px;
    position: absolute;
    /*background-color: rgba(255, 255, 255, 0.8);*/
    background-image: linear-gradient(to right,  #a930fb, yellow);
    border-radius: 10px;
    z-index: -1;
}

.footer-div {
    background-color: #171a1d;
    background-image: linear-gradient(#171a1d, #16122c);
}

.gradient-left {
    background-image: linear-gradient(to left,#ffffff00, #171a1d77);
}

.gradient-right {
    background-image: linear-gradient(to right,#ffffff00, #171a1d77);
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}


/* Apenas Desktop */
@media only screen and (min-width: 768px) {
    .logo{
        height: 90px;
    }

    .banner {
        height: 700px;
    }

    .titulo:after {
        width: 30%;
    }

    .navbar-links {
        width: 50% !important;
    }

    #carouselProjetos {
        min-height: 650px;
    }

    .img-celular {
        max-height: 400px;
    }

    .img-celular-carousel {
        width: 50%;
    }

    .lupa {
        width: 68px;
        height: 68px;
    }
}

/* Apenas Celular */
@media only screen and (max-width: 767px) {
    .logo{
        height: 70px;
    }

    .banner {
        height: 300px;
    }

    .titulo:after {
        width: 40%;
    }

    .navbar-links {
        width: 100% !important;
    }

    #carouselProjetos {
        min-height: 450px;
    }

    .img-celular {
        max-height: 150px;
    }

    .img-celular-carousel {
        width: 100%;
    }

    .lupa {
        width: 50px;
        height: 50px;
    }
}